@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/Lato-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Lato Bold Italic';
    font-style: italic;
    font-weight: 700;
    src: local(''), url('/fonts/Lato-BoldItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('/fonts/Lato-Light.woff') format('woff');
  }

  @font-face {
    font-family: 'Lato Italic';
    font-style: italic;
    font-weight: 300;
    src: local(''), url('/fonts/Lato-LightItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'LeckerliOne';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('/fonts/LeckerliOne.woff') format('woff');
  }

  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .btn-primary {
    background-color: rgba(76, 29, 149, 1) !important;
    border-color: rgba(76, 29, 149, 1) !important;
  }

  .centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
